<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>RMEJ5W9E7D.com.cjfafafa.trojan.ios</string>
	</array>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:slots-game.citrusjoy.com</string>
		<string>applinks:www.slots-game.citrusjoy.com</string>
	</array>
</dict>
</plist>
