<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>provisioningProfiles</key>
    <dict>
      <key>com.luckyvegascasino.trojan.ios</key>
      <string>20170907_trojan_iw_dev</string>
    </dict>
    <key>signingCertificate</key>
    <string>iOS Developer</string>
    <key>method</key>
    <string>development</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>867XKS3SUH</string>
  </dict>
</plist>